<h3>Top <%= name %></h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th><%= name.singularize %></th>
    <th>Average rating</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <% parameter.each do |p| %>
        <td><%= link_to p.name, p %></td>
        <td><%= round(p.average_rating) %></td>
        </tr>

    <% end %>
    </tbody>

</table>